streamlit==1.51.0
streamlit_mic_recorder==0.0.8
openai-whisper @ git+https://github.com/openai/whisper.git@c0d2f624c09dc18e709e37c2ad90c039a4eb72a2

# Audio and signal processing
torch==2.6.0
torchaudio==2.6.0
numpy==1.26.4
pandas==2.3.3

librosa==0.11.0

# Logging and utilities
rich==14.2.0
tqdm==4.67.1

# Optional but useful for Whisper pipelines
transformers==4.44.2
tokenizers==0.20.1

sentencepiece
